.filter-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  width: 455px;
  right: 0;
  background: #ffffff;
  padding: 20px;
  z-index: 2;
}
.close-button {
  cursor: pointer;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.filter-header .left-title {
  font-weight: 600;
}

.button-row {
  margin-top: 29px;
  margin-bottom: 19px;
}
.button-row button.link-btn {
  padding: 0;
  margin-right: 22px;
}
.options-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.option {
  flex-grow: 1;
  min-width: 50%;
  margin-bottom: 12px;
}

.apply-filter-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apply-filter-btn-wrapper button.apply-filter {
  width: 100%;
  background: #3d8bf8;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding: 7px;
  margin-bottom: 14px;
  cursor: pointer;
}
.apply-filter-btn-wrapper .tip-text {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #99a0a8;
}
.tip-text::before {
  position: absolute;
  content: url("../assets/i-icon.svg");
  left: -18px;
}

.search-row {
  display: flex;
  width: 100%;
}
.search-row {
  border: 1px solid #99a0a8;
  /* padding: 8px 10px; */
  border-radius: 8px;
  box-sizing: border-box;
}
.search-row .skill-select,
.search-row .search-input input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #212121;
  border: unset;
  padding: 8px 10px;
}
.search-row .skill-select:focus {
  outline: none;
}
.search-row .skill-dropdown {
  border-right: 1px solid #99a0a8;
}
.search-row .skill-select {
  border-radius: 8px 0px 0px 8px;
}
.search-row .skill-select option {
  padding: 8px 10px;
}
.search-input {
  position: relative;
  flex-grow: 1;
}
.search-row .search-input input:focus {
  outline: none;
}
.search-row .search-input input {
  border-radius: 0px 8px 8px 0px;
  width: 90%;
}
.search-row .search-input::after {
  position: absolute;
  content: url("../assets/search-icon.svg");
  right: 15px;
  top: 7px;
}
/* Checkboxes */
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #3d8bf8;
  width: 1em;
  height: 1em;
  border: 1px solid #3d8bf8;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
input[type="checkbox"]::before {
  content: "";
  background: #3d8bf8;
  transform-origin: bottom left;
  clip-path: polygon(17% 62%, 9% 73%, 50% 97%, 100% 16%, 79% 28%, 46% 82%);

  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #3D8BF8;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
